.empresas-container {
	display: flex;
}
.empresas_overlay {
	height: 100%;
}

.banner-empresas {
	background-color: red;
	width: 50%;
}
.info-empresas {
	background-color: #222222;
	width: 50%;
	display: flex;
	align-items: center;
}
.info-text {
	width: 50%;
	color: white;

	padding-left: 41px;
	font-size: 25px;
}
.info-text::before {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	content: '“';
	font-size: 40px;
	color: #ffffff;
	position: absolute;
	margin-left: -30px;
}
.info-text::after {
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	content: '”';
	font-size: 40px;
	color: #ffffff;
	position: absolute;
	margin-left: 30px;
}

.banner-empresas img {
	width: 100%;
}

.parallax_content {
	background: url('../../images/back-header.jpg') center center;
	background-size: cover;
	height: 100px;
	background-attachment: fixed;
}

.parallax_container {
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	color: white;
	font-size: 19px;
	text-align: center;
}

.parallax_overlay {
	height: 100%;
	display: flex;
	align-items: center;
}

/* Style clients */
.title_clients {
	text-align: center;
	font-size: 32px;
	font-weight: 700;
	padding-top: 76px;
	padding-bottom: 26px;
	color: #585858;
	text-transform: uppercase;
}
.clients_container {
	display: flex;
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: space-between;
}
.clients_container img {
	filter: grayscale(100%);
	opacity: 0.5;
	transition: 1.5s;
}
.img-clients {
	cursor: pointer;
}

.img-clients:hover img {
	filter: grayscale(0%);
	opacity: 1;
}

/* Style clients */
@media (max-width: 1200px) {
	.info-text {
		width: 60%;
		color: white;
		padding-left: 55px;
		font-size: 20px;
	}

	.clients_container {
		padding: 10px 25px;
		justify-content: center;
	}

	.img-clients {
		padding: 10px;
	}
	.title_clients {
		font-size: 25px;
		padding-top: 40px;
		padding-bottom: 0;
	}
}
@media (max-width: 768px) {
	.banner-empresas {
		width: 100%;
	}
	.info-empresas {
		width: 100%;
	}
	.empresas-container {
		flex-wrap: wrap;
		flex-direction: column-reverse;
	}
	.info-text {
		width: 100%;
		color: white;
		padding: 35px 55px;
		font-size: 20px;
		text-align: center;
	}
	.parallax_container {
		padding: 10px 25px;
		font-size: 16px;
	}
	.clients_container img {
		width: 230px;
	}
}

@media (max-width: 576px) {
	.banner-empresas img {
		width: 100%;
		object-fit: cover;
		height: 220px;
	}
	.clients_container img {
		width: 160px;
	}
	.title_clients {
		font-size: 17px;
		padding-top: 25px;
		padding-bottom: 0;
	}
	.info-text {
		font-size: 18px;
	}
}

@media (max-width: 410px) {
	.clients_container img {
		width: 120px;
	}
}
