.empresas-container {
	display: flex;
}

/* Style clients */
.text_content_clients {
	text-align: left;
	font-size: 16px;
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
	padding-bottom: 15px;
}
.service_title-header.estatales {
	color: #ff0000;
}
.entidades_overlay {
	height: 100%;
}
.entidades_container {
	display: flex;
	margin: 0 auto;
	max-width: 1140px;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}
.entidades_container img {
	filter: grayscale(100%);
	opacity: 0.5;
	transition: 1.5s;
}
.img-entidades {
	cursor: pointer;
	padding: 15px;
}

.img-entidades:hover img {
	filter: grayscale(0%);
	opacity: 1;
}

/* Style clients */
@media (max-width: 1200px) {
	.text_content_clients {
		padding: 10px 25px;
		padding-top: 15px;
		line-height: 22px;
		font-size: 16px;
	}
}

@media (max-width: 576px) {
	.img-entidades img {
		width: 160px;
	}
	.text_content_clients {
		padding: 10px 25px;
		padding-top: 15px;
		line-height: 22px;
		font-size: 14px;
	}
}

@media (max-width: 390px) {
	.img-entidades img {
		width: 140px;
	}
}
