.content_home {
	height: 100%;
	display: flex;
	/* position: absolute; */
	width: 100%;
	flex-direction: column;
	position: relative;
	min-height: 100vh;
}

.Home_container {
	flex: 1;
	display: flex;
	position: relative;
	flex-direction: column;
}

.swiper_content_app {
	width: 100%;
	display: flex;
	height: 700px;
}

.overlay {
	width: 100%;
	background: #0000008c;
}

.swiper_container-box {
	width: 100%;
}
.swiper_container-box_1 {
	width: 100%;

	background: url('../../images/cover1.jpg') center center;
	background-size: cover;
	display: flex;
}
.swiper_container-box_2 {
	width: 100%;

	height: 100%;
	background: url('../../images/cover2.jpg') center center;
	background-size: cover;
	display: flex;
}
.swiper_container-box_3 {
	width: 100%;
	height: 100%;
	background: url('../../images/cover3.jpg') center center;
	background-size: cover;
	display: flex;
}
.swiper_container-box_4 {
	width: 100%;
	height: 100%;
	background: url('../../images/cover4.jpg') center center;
	background-size: cover;
	display: flex;
}
.swiper_container-box_5 {
	width: 100%;
	height: 100%;
	background: url('../../images/cover5.jpg') center center;
	background-size: cover;
	display: flex;
}
.swiper_container-box_6 {
	width: 100%;
	height: 100%;
	background: url('../../images/cover6.jpg') center center;
	background-size: cover;
	display: flex;
}

.img_slide {
	width: 100%;
	max-width: 1200px;
	margin: auto;
	height: 100%;
	display: flex;
}
.img_info {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: left;
	font-family: 'Open Sans', sans-serif;
	justify-content: space-between;
}

.info_title {
	font-size: 69px;
	color: white;
	font-weight: 700;
}

.info_paragraph {
	color: gainsboro;
	width: 100%;
	font-size: 26px;
	padding-bottom: 12px;
}

.button_plus button {
	padding: 6px 54px;
	background-color: #b30c0c;
	color: white;
	font-size: 24px;
	border: 0;
	margin-top: 11px;
}

.contentTwo {
	color: white;
	font-size: 20px;
	padding-left: 61px;
}

.ingles {
	padding-bottom: 72px;
}

.service-container {
	background-color: white;
}

/* project style */

.projects {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

.project_title {
	text-align: center;
	font-size: 25px;
	font-weight: 400;
	padding-top: 43px;
	padding-bottom: 32px;
	font-family: 'Montserrat', sans-serif;
}

.project_count {
	display: flex;
	font-family: 'Open Sans', sans-serif;
	justify-content: space-around;
}

.project_box {
	width: 280px;
	/* padding: 15px; */
	cursor: pointer;
}

.project_img {
	background-size: cover;
	width: 280px;
	height: 260px;
	padding: 15px;
	transition: 2s;
	display: flex;
	flex-direction: column-reverse;
}

.project_img:hover .project_img_content {
	height: 60px;
}

.project_img.one {
	background: url('../../images/cover1.jpg') center center;
}
.project_img.two {
	background: url('../../images/cover1.jpg') center center;
}
.project_img.three {
	background: url('../../images/cover1.jpg') center center;
}
.project_img.four {
	background: url('../../images/cover1.jpg') center center;
}

.project_img_content {
	background: #c11818a1;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
	color: white;
	font-size: 21px;
	font-weight: 500;
	transition: 2s;
}

.project_info {
	text-align: center;
	padding-top: 7px;
}

.project_info_title {
	color: #383838;
	font-size: 18px;
	padding-top: 15px;
	font-weight: 700;
}

.project_plus {
	text-decoration: none;
	color: #5d5d5d;
	font-size: 18px;
	padding-top: 5px;
}

.project_button {
	text-align: center;
	padding-top: 24px;
	padding-bottom: 34px;
	cursor: pointer;
}
.project_button button {
	background: transparent;
	border: 0;
	border: 2px solid #bb0606;
	padding: 14px 37px;
	font-size: 22px;
	color: #bb0606;
	cursor: pointer;
}

/*end project style */
