.content_services {
	width: 100%;
	padding-bottom: 55px;
	font-family: 'Raleway', sans-serif;
}

.service-header {
	background: url('../../images/back-header.jpg') center center;
	height: 360px;
	background-size: cover;
	color: white;
	background-position: top;
}

.services-overlay {
	height: 100%;
}

.service_title-header {
	font-size: 50px;
	padding-top: 40px;
	color: #ffffff;
}

.content-container {
	display: flex;
	margin: auto;
	max-width: 1200px;
	flex-direction: column;
	justify-content: center;
	text-align: center;
}

/* Style box service */
.services_detail {
	display: flex;
	flex-wrap: wrap;
	padding-top: 45px;
}

.box_content-service {
	max-width: 33.333%;
	width: 100%;
}

.box-container {
	padding: 10px 15px;
	padding-bottom: 15px;
}

.box_info {
	height: 250px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 34px 23px 36px 34px;
	text-align: left;
	box-shadow: 0px 0 6px 2px rgb(212 222 229 / 40%);
	-webkit-box-shadow: 0px 0 6px 2px rgb(212 222 229 / 40%);
	border: 1px solid #d4dee5;
}

.title_box {
	font-size: 22px;
	font-weight: 900;
	padding-bottom: 15px;
	color: #5f5f5f;
}
.box-container figure img {
	object-fit: cover;
	vertical-align: middle;
	height: 239px;
	width: 100%;
}
.box-container figure {
	overflow: hidden;
	position: relative;
}

.box_content-service:hover img {
	-moz-transform: scale(1.2);
	-webkit-transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.button-service {
	padding-top: 17px;
}

.button-service a {
	text-decoration: none;
	font-size: 18px;
	color: #808080;
	font-weight: 700;
}

/* Style box service */

@media (max-width: 1200px) {
	.service-header {
		height: 300px;
	}
	.service_title-header {
		font-size: 40px;
	}
}

@media (max-width: 960px) {
	.title_box {
		font-size: 18px;
	}
	.box_info-text {
		font-size: 14px;
		line-height: 20px;
	}
	.box-container figure img {
		height: 220px;
	}
	.box_info {
		padding: 34px 18px 34px 18px;
	}
}
@media (max-width: 768px) {
	.service-header {
		height: 200px;
		padding-top: 40px;
	}
	.service_title-header {
		font-size: 25px;
	}
	.box_content-service {
		max-width: 50%;
		width: 100%;
	}
	.box_info {
		height: 210px;
		padding: 20px 18px 20px 18px;
	}
}

@media (max-width: 576px) {
	.box_info {
		height: 180px;
		padding: 10px 12px 10px 12px;
	}
	.box-container figure img {
		height: 160px;
	}
	.box_info-text {
		font-size: 12px;
		line-height: 16px;
	}
	.button-service a {
		font-size: 12px;
	}
	.box-container {
		padding: 10px 10px;
		padding-bottom: 15px;
	}
	.title_box {
		font-size: 14px;
	}
	.service_title-header {
		font-size: 20px;
	}
	.about_container {
		padding: 0 15px;
	}
	.button-service {
		padding-top: 8px;
	}
	.services_detail {
		padding-top: 15px;
	}
	.content_services {
		padding-bottom: 15px;
	}
}

@media (max-width: 420px) {
	.service_title-header {
		font-size: 18px;
	}
	.box_info {
		height: 180px;
	}
	.box-container figure img {
		height: 110px;
	}
	.box_info-text {
		font-size: 11px;
		line-height: 14px;
	}
	.button-service a {
		font-size: 11px;
	}
}
@media (max-width: 350px) {
	.box-container figure img {
		height: 90px;
	}
	.box_info-text {
		font-size: 10px;
		line-height: 12px;
	}
}
